.effect {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    margin-bottom: 1200px;
    text-align: center;
    margin: 100px auto 200px;
}

.container {
    width: 70%;
    padding: 1em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #000000;
    margin: 100px auto;
}
.container h1 {
    font-size: 20px;
}