.effect {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    margin-bottom: 1200px;
    text-align: center;
    margin: 100px auto 200px;
}

.container {
    width: 70%;
    padding: 1em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #000000;
    margin: 100px auto;
}
.container h1 {
    font-size: 20px;
}



@media only screen and (min-width: 768px) {

    @keyframes opacity1 {
        from {top: 0; bottom: 0; left: 0; right: 0; width: 0; height: 0; opacity: 0; }
        to {opacity: 1;}
      }
    
    @keyframes img-anime {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    .square {
        position: relative;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        margin: auto;
    }
    .big-img {
        position: absolute;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../img/verre-boule.jpg');
    }
    .animebig {
        animation: opacity1 1s ease-in-out;
        animation-fill-mode: backwards;
    }
    
    .img-1 {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        left: 130px;
        top: -20%;
        border: 10px solid white;
        background-image: url('../img/bureau.jpg');
    }
    .anime-img1 {
        animation: img-anime 0.2s ease 1s;
        animation-fill-mode: backwards;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        opacity: 0;
        transition: .5s ease;
        background-color: turquoise;
    }
    .text {
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    a {
        text-decoration: none;
        font-family: "Muli", Arial, Tahoma, sans-serif;
        color: white;
    }
    .overlay a:hover {
        color: white;
    }
    
    .img-1:hover .overlay {
        opacity: 1;
    }
    .img-2:hover .overlay {
        opacity: 1;
    }
    .img-3:hover .overlay {
        opacity: 1;
    }
    .img-4:hover .overlay {
        opacity: 1;
    }
    .img-5:hover .overlay {
        opacity: 1;
    }
    .img-6:hover .overlay {
        opacity: 1;
    }
    
    .img-2 {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        left: 130px;
        bottom: -20%;
        border: 10px solid white;
        background-image: url('../img/batiment180.jpg');
    
    }
    
    .anime-img2 {
        animation: img-anime 0.2s ease 1.6s;
        animation-fill-mode: backwards;
    }
    
    .img-3 {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        left: -15%;
        top: 5%;
        border: 10px solid white;
        background-image: url('../img/vitrerie180.jpg');
    }
    
    .anime-img3 {
        animation: img-anime 0.2s ease 2s;
        animation-fill-mode: backwards;
    }
    
    .img-4 {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        left: -15%;
        bottom: 5%;
        border: 10px solid white;
        background-image: url('../img/pressure.jpg');
    }
    
    .anime-img4 {
        animation: img-anime 0.2s ease 1.8s;
        animation-fill-mode: backwards;
    }
    
    .img-5 {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        right: -15%;
        top: 5%;
        border: 10px solid white;
        background-image: url('../img/escaliers.jpg');
    
    }
    
    .anime-img5 {
        animation: img-anime 0.2s ease 1.2s;
        animation-fill-mode: backwards;
    }
    
    .img-6 {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        right: -15%;
        bottom: 5%;
        border: 10px solid white;
        background-image: url('../img/demenagement.jpg');
    
    }
    
    .anime-img6 {
        animation: img-anime 0.2s ease 1.4s;
        animation-fill-mode: backwards;
    }
    .hidden {
        opacity: 0;
    }
    .hidden-text {
        opacity: 0;
    }
    
    }
    
    @media only screen and (max-width: 768px) {
    
        .img-1 {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            border: 10px solid white;
            background-image: url('../img/bureau.jpg');
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
            align-items: center;
            margin-bottom: 50px;
        }
    
        .img-2 {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            border: 10px solid white;
            background-image: url('../img/batiment180.jpg');
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
        }
        
        .img-3 {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            border: 10px solid white;
            background-image: url('../img/vitrerie180.jpg');
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
            margin-bottom: 50px;
        }
        
        .img-4 {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            border: 10px solid white;
            background-image: url('../img/pressure.jpg');
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
        }
        
        .img-5 {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            border: 10px solid white;
            background-image: url('../img/escaliers.jpg');
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
        }
        
        .img-6 {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            border: 10px solid white;
            background-image: url('../img/demenagement.jpg');
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
        }
    
        .text { 
            opacity: 0;
        }
        .square {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            justify-content: center;
        }
    
        .hidden-text {
            color: black;
            position: relative;
            top: 31vw;
            font-size: 3.5vw;
            font-family: "Muli", Arial, Tahoma, sans-serif;
            font-weight: bold;
            text-decoration: none;
        }
        .hidden-text:hover {
            color: #00a097;
        }
    
    }

    